# Thanks to: https://gist.github.com/jdbartlett/444295
# Thanks to: https://marcjenkins.co.uk/a-wordpress-git-workflow/

# Ignore everything in the root except:
# 'wp-content' directory (which we're going to install)
# .gitignore (duh)
# .htaccess file with some WordPress-specific info
# gulpfile.js for local dev
# package.json for local dev
# README.md
# wp-cli.phar (Our WP-Cli tools)

/*
!wp-content/
!.gitignore
!.htaccess
!gulpfile.js
!package.json
!README.md
!wp-cli.phar

# Ignore everything in the 'wp-content' directory, except the 'plugins' and 'themes' directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/

# Ignore everything in the 'plugins' directory, except the plugins you specify
wp-content/plugins/*
# !wp-content/plugins/my-single-file-plugin.php
# !wp-content/plugins/my-directory-plugin/

# Ignore everything in the 'themes' directory, except the themes you specify
wp-content/themes/*
!wp-content/themes/hadley/
